<header>
  <h1>Stupid Coaching</h1>
</header>


<section>
  <p><%= @answer %></p>
  <h2>- You</h2>
</section>

<section>
  <p><%= @response %></p>
  <h2>- Your Coach</h2>
</section>

<footer>
  <%= link_to "Ask me more!?", ask_path %>
</footer>
